{% extends 'base.html.twig' %}

{% block title %}New Income{% endblock %}

{% block body %}
    <h1>Create new Income</h1>

    {{ include('income/_form.html.twig') }}

    <a href="{{ path('income_index') }}">back to list</a>
{% endblock %}
