$lighterColor: rgb(237, 242, 243);
$lightColor: rgba(249, 249, 249, 0.918);
$darkColor: #54585B;
$darkBlue: #556775da;
$blueColor: #22A8C9;
$innerShadowInput: 25px rgba(0,0,0,.1);
$innerShadowFocus: 25px rgba(0,0,0,.5);
$phColor: rgba(255, 255, 255, .5);
$todoBackground: #eee;
$borderColor: #ccc;
$gutter: 1.5em;
