$inputColor: #fff;
$background: #2e5849;
$inputBackground: #1c382f;
$borderInput: #183129;
$innerShadowInput: 25px rgba(0,0,0,.1);
$innerShadowFocus: 25px rgba(0,0,0,.5);
$phColor: rgba(255, 255, 255, .5);
$todoBackground: #eee;
$borderColor: #ccc;
$gutter: 1.5em;
