{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1>My tailor is rich - API</h1>

<h2>Accessible en methode GET</h2>
<ul>
<li>Lister les income : <a href="{{path('main_income') }}">Listing des incomes en Json</a></li>
<li>Lister les output : <a href="{{path('main_output') }}">Listing des output en Json</a></li>
</ul>
{% endblock %}
