@import 'src/styles/vars';


.header {
  display: flex;
  flex-wrap: nowrap;
  border: 2px;
  margin-bottom: 2*$gutter;
  justify-content: space-between;

}
.app {
  width: 98%;
  padding: 2em;
  margin: 1em auto;
  text-align: center;
  height: 95vh;
  background-color: $lighterColor;
}

.app img {
  max-width: 150px;
}
