{% extends 'base.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}
    <h1>Create new Users</h1>

    {{ include('user/_form.html.twig') }} 

    <a href="{{ path('main') }}">back to list</a>
{% endblock %}

