@import 'src/styles/vars';


.ui.compact.menu {
  
  border-radius: 10px;
  background:  #53677594;;
  box-shadow:  9px 9px 18px #b9c3c9, 
             -9px -9px 18px #fbffff;
}

.ui.primary.button {

  background-color: $darkBlue
}
