@import 'src/styles/vars';


.ui.large.label {
 font-size: 0.8em; 
 font-weight: bolder;
 height: 10%;
 align-self: flex-end;
 
 
 

}

.ui.segment.line {
  font-size: 0.8em;
  color: #f00;
  font-weight: bold;
}
